@import "../../../styles/base.scss";

body {
  font-family: serif;
  background-color: #0a4b47;
  color: #feffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5vw;
  margin: 0;

  & + h1 {
    color: #eefcad;
  }
}

.headings {
  animation: headings 4s both;
  text-align: center;
}

// h1:first-child {
//   animation: first-heading 4s both;
//   clip-path: polygon();
// }

// h1:nth-child(2) {
//   animation: second-heading 4s both;
// }

@keyframes first-heading {
  // first, at from / 0%  till 50% => the animation will behave based on below values on "clip-path" and its behavior / type of animation it displays, dependant on "polygon values"
  from {
    // clip path works like a mask in the photoshop so here it will reveal-hide this much

    // It looks like typing animation that is solely due to "clip-path" :: and it will reveal-hide based on these values
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  // 50% to 100 (i.e. to) => the animation will behave based on below values
  50%,
  to {
    // then here it will reveal-hide this much
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes second-heading {
  // 0 till before 50%, it will have below style ( here opacity: 0 )
  from,
  50% {
    opacity: 0;
  }
  // from 50% to 100% , it will have below style ( here opacity: 1 )
  to {
    opacity: 1;
  }
}

@keyframes headings {
  from,
  50% {
    transform: translateY(50%) scale(1.5); /* order matters so first it'll "move up" at Y axis & then "scale" */
  }

  // here as reached 50%; reset transform ( back to how it as before applying animation )

  to {
    transform: none;
  }
}
